@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.movie{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}.cards{
  display: inline-block;
}
.movie-tiles{
  width: 220px;
  height: auto;
  margin : auto;
  transition: all 0.3s ease 0s;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 27%) 10px 10px 33px -4px;
  display: inline-block;
  margin: 20px;
}

.movie-tiles:hover{
  filter :blur(0px);
  transform: scale(1.1);
  opacity: 1;
}
.search-container{
    width: 100%;
    height: 90px;
    background: rgb(0, 0, 0);
    padding: 25px 20px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    animation: 1s ease 0s 1 normal none running animateBar;
}
.btn{
   font-size: 2rem;
   margin-top: 8px;
   margin-left: 10px;
}
input{
    font-family: Abel, sans-serif;
    font-size: 16px;
    position: absolute;
    left: 20px;
    margin: 4px 0px;
    padding: 0px 0px 0px 40px;
    border: 1px solid black;
    width: 90%;
    background: transparent;
    height: 40px;
    color: white;
}
@media screen and (min-width:1000px) {
    .search-container{
        height: 100px;
    }
    input{
        width: 90%;
        position: absolute;
        left: 40px;
        font-size: 28px;
        padding: 0px 0px 0px 40px;
        border: 1px solid black;
    }
    .btn{
        font-size: 2.2rem;
        margin-left: 20px;
    }
}
.btn-container{
  display: flex;
  justify-content: center;
}
.btn1{
          background: linear-gradient(
          90deg , rgb(2, 0, 36) 0%, rgb(9, 9, 121) 68%, rgb(139, 0, 255) 100%);
          width: 25%;
          min-width: 200px;
          height: 70px;
          color: rgb(255, 255, 255);
          cursor: pointer;
          transition: all 0.3s ease 0s;
          border-radius: 10px;
          font-family: Abel, sans-serif;
          font-size: 28px;
          border: 0px;
          max-width: 1280px;
          display: block;
          margin: 20px auto;
          padding: 0px 20px;
          outline: none;
          box-shadow: rgb(139 0 255 / 40%) 5px 10px 10px -4px;
}