@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.movie{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cards{
  display: inline-block;
}
.movie-tiles{
  width: 220px;
  height: auto;
  margin : auto;
  transition: all 0.3s ease 0s;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 27%) 10px 10px 33px -4px;
  display: inline-block;
  margin: 20px;
}

.movie-tiles:hover{
  filter :blur(0px);
  transform: scale(1.1);
  opacity: 1;
}
.search-container{
    width: 100%;
    height: 90px;
    background: rgb(0, 0, 0);
    padding: 25px 20px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    animation: 1s ease 0s 1 normal none running animateBar;
}
.btn{
   font-size: 2rem;
   margin-top: 8px;
   margin-left: 10px;
}
input{
    font-family: Abel, sans-serif;
    font-size: 16px;
    position: absolute;
    left: 20px;
    margin: 4px 0px;
    padding: 0px 0px 0px 40px;
    border: 1px solid black;
    width: 90%;
    background: transparent;
    height: 40px;
    color: white;
}
.p1{
  font-size: 22px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.header2{
  margin: 0px auto;
  padding: 0px 20px;
  width: 100%;
  align-items: center;
  height: 70px;
  background: rgb(53, 53, 53);
  color: white;
  display: flex;
}
.back_drop{
  width: 100%;
  height: 980px;
  position: relative;
  object-fit: cover;
  overflow: hidden;
}
.poster-img{
  width: 90%;
  border-radius: 20px 20px 0px 0px;
  position: absolute;
  top: 150px;
  left: 15px;
}
.details{
  position: absolute;
  top: 570px;
  left: 15px;
  width: 90%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  opacity: 0.6;
  padding: 20px 20px 80px 20px;
  margin: 0 auto;
  border-radius: 0px 0px 20px 20px;
}
.p2{
  padding: 10px 0px;
  font-size: 18px;
}
.rating{
  background-color: white;
  color: black;
  display: inline-block;
  padding: 5px;
  border-radius: 20px;
  margin-left: 10px;
}
.box{
  height: 80px;
  background-color: black;
  display: block;
  position: relative;
  bottom: 10px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-family: Abel,sans-serif;
}
.box1{
  color: white;
}
.box11{
  padding: 0px 2px;
}
.actors{
  margin-left: 40px; 
}
.card-tiles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.actors-box{
  background-color:white;
  width: 250px;
  height: auto;
  margin: 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: rgb(0 0 0 / 27%) 10px 10px 33px -4px;
}
.actor-img{
  width: 250px;
  border-radius: 30px;
  height: 300px;
  padding: 5px; 
}
.actors-title{
  font-family: Abel,sans-serif;
  text-align: center;
}
@media screen and (min-width:600px) {
.back_drop{
    height: 900px;
}
.poster-img{
  width: 80%;
  height: 100vh;
  margin-left: 60px;
}
.details{
  position: absolute;
  width:80%;
  top: 685px;
  left : 10%;
  padding-bottom: 60px;
}
}
@media screen and (min-width:1000px) {
.search-container{
  height: 100px;
 }
input{
  width: 90%;
  position: absolute;
  left: 40px;
  font-size: 28px;
  padding: 0px 0px 0px 40px;
  border: 1px solid black;            
}
.btn{
  font-size: 2.2rem;
  margin-left: 20px;
}

.btn-container{
  display: flex;
  justify-content: center;
}
.btn1{
  background: linear-gradient(
  90deg , rgb(2, 0, 36) 0%, rgb(9, 9, 121) 68%, rgb(139, 0, 255) 100%);
  width: 25%;
  min-width: 200px;
  height: 70px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
  font-family: Abel, sans-serif;
  font-size: 28px;
  border: 0px;
  max-width: 1280px;
  display: block;
  margin: 20px auto;
  padding: 0px 20px;
  outline: none;
  box-shadow: rgb(139 0 255 / 40%) 5px 10px 10px -4px;
}
.back_drop{
  height: 95vh;
}
.poster-img{
  width: 30%;
  height: 77%;
  margin-top: 50px;
  border-radius: 20px 0px 0px 20px;
}
.details{
  width: 60%;
  position: absolute;
  top:200px ;
  left: 390px;
  font-weight: bolder;
  padding: 41px;
  border-radius: 0px 20px 20px 0px;
}
.box1{
  font-size: 2rem;
}
.box{
  height:110px;
}
.p2{
  font-size: 1.4rem;
}
}